# Core dependencies
fal

# Script dependencies
## Forecasting
pystan==2.18.0
kaleido
fbprophet
plotly
numpy

## Anomaly detection
sklearn

## Slack
slack_sdk

# Datadog
datadog_api_client

# Sentiment analysis
transformers
torch
