# Core dependencies
dbt-bigquery==1.0.0
fal

# Script dependencies
## Forecasting
pystan==2.18.0
kaleido
fbprophet
plotly

## Slack
slack_sdk

# Datadog
datadog_api_client

# Sentiment analysis
transformers
torch
