# Core dependencies
dbt-core==0.21.0
dbt-bigquery==0.21.0
fal==0.1.26

# Script dependencies
## Forecasting
pystan==2.18.0
kaleido
fbprophet
plotly

## Slack
slack_sdk

# Datadog
datadog_api_client

# Sentiment analysis
transformers
torch
